body {
  font-family: "Andada Pro", serif;
  font-family: "Tiro Bangla", serif;
}

h1 {
  color: #173e43;
  margin: 15px 30px;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  margin: 30px 200px 2px 150px;
  font-size: 34px;
}
h3 {
  margin: 10px 200px 15px 170px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#link-Celsius,
#link-Farhenheit {
  font-size: 18px;
  position: relative;
  top: -10px;
  cursor: default;
  text-decoration: none;
}
#temperature {
  margin-left: 150px;
  margin-top: 10px;
  font-size: 38px;
  font-weight: bold;
}
#nowDate {
  color: #0dcaf0;
}

.engine {
  margin: 5px 20px 50px 250px;
  padding: 12px 170px;
  border: 2px solid #0dcaf0;
}
.btn {
  margin-left: 20px;
  padding: 12px 28px;
}

.card {
  margin-right: 10px;
  border: 1px solid black;
}

.card-text {
  line-height: 2.5em;
}
::placeholder {
  font-style: italic;
}

.card:hover {
  border-color: #0dcaf0;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.footer {
  text-align: right;
  margin: 35px 200px 20px;
}
